

.mask-container {
    overflow: hidden;
}
.mask-container-img{
    position: relative;
    display: flex;
    align-items: center;
}
.one_time_animation.fade{
    opacity: 0;
    transform: scale(0.8);
    will-change: transform, opacity;
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.one_time_animation.fade.active {
    opacity: 1;
    transform: scale(1);
}
.one_time_animation.fade_up {
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 1.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: transform, opacity;

}
.one_time_animation.fade_up.active {
    opacity: 1;
    transform: translateY(0);
}

.one_time_animation.cubic_fade{
    transform: translateY(90%);
    will-change: transform;
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.one_time_animation.cubic_fade.active {
    transform: translateY(0);
    transition-delay: 0.1s;
}

.one_time_animation.img{
    position: relative;
}
.one_time_animation.img::after {
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-dark);
    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.one_time_animation.img.active::after {
    width: 0;
}