@import url(reset.css);
@import url(root.css);



* {
    cursor: none !important;
}
/*section,main,header,footer,*/
/*ul,li,nav,*/
/*p,h1,h2,h3,h4,h5,h6,p,blockquote,pre{*/
/*    transition: 0.3s;*/
/*}*/
img[src$=".svg"] {
    image-rendering: auto;
}
body {
    position: relative;
}
section {
    padding:  10rem 6rem ;
}

@media screen and (max-width: 1000px) {
    section{
        padding:  10rem 4rem;
    }
}

@media screen and (max-width: 600px) {
    section {
        padding:  5rem 2rem ;
    }
}

/* app.vue или assets/css/main.css */

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}


.mask-container {
    overflow: hidden;
}
.mask-container-img{
    position: relative;
    display: flex;
    align-items: center;
}
.one_time_animation.fade{
    opacity: 0;
    transform: scale(0.8);
    will-change: transform, opacity;
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.one_time_animation.fade.active {
    opacity: 1;
    transform: scale(1);
}
.one_time_animation.fade_up {
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 1.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: transform, opacity;

}
.one_time_animation.fade_up.active {
    opacity: 1;
    transform: translateY(0);
}

.one_time_animation.cubic_fade{
    transform: translateY(90%);
    will-change: transform;
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.one_time_animation.cubic_fade.active {
    transform: translateY(0);
    transition-delay: 0.1s;
}

.one_time_animation.img{
    position: relative;
}
.one_time_animation.img::after {
    content: "";
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-dark);
    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.one_time_animation.img.active::after {
    width: 0;
}