@import url(reset.css);
@import url(root.css);
@import url(lenis.css);
@import url(animation.css);



* {
    cursor: none !important;
}
#__nuxt{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

}
body {
    position: relative;
    overflow-x: hidden;

}
section {
    padding:  10rem 6rem ;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 200rem;
    width: 100%;
    margin: 0 auto;
}



#about_us_2, #faq{
    background-color: var(--color-background-dark);
    color: var(--color-text-accent);
}

#about_us_2 ::selection, #faq ::selection, footer ::selection{
    color: var(--color-text-dark);
    background: var(--color-background-accent);
}
.cards{
    display: flex;
    gap: 2rem;
    width: 100%;
}

#about_us .card{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: capitalize;
}
#about_us .card picture{
    border-radius: 0.5rem;
    max-height: 400px;
    height: 100%;
    min-height: 300px;
}

#about_us_2{
    flex-direction: row;
    align-items: stretch;
    position: relative;
}
#faq{
    position: relative;
}
#about_us_2 .mask-container-img, #about_us_2 .textContent, #faq .textContent, #faq .faq-container{
    position: relative;
    z-index: 2;
}
#about_us_2::after, #faq::after{
    content: "";
    left: 50%;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: var(--color-background-dark);
    transform: translateX(-50%);
}
#about_us_2 picture{
    height: unset;
    min-width: 600px;
    border-radius: 0.5rem;
}



@media screen and (max-width: 1700px) {
    #about_us_2{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 1400px) {
    #services .cards{
        flex-direction: column;
    }
}
@media screen and (max-width: 1200px) {
    #services .cards{
        flex-direction: column;
    }
}


@media screen and (max-width: 850px) {
    #about_us .cards{
        flex-direction: column;
    }
    #about_us .card picture {
        max-height: unset;
        height: 300px;
        min-height: 300px;
    }
    #about_us_2 picture{
        min-width: unset;
    }
}

@media screen and (max-width: 1000px) {
    section{
        padding:  10rem 4rem;
    }
}

@media screen and (max-width: 600px) {
    section {
        padding:  5rem 2rem ;
    }
    .project_grid_container {
        display: flex;
        flex-direction: column;

    }
}
