@import url(reset.css);
@import url(root.css);
@import url(lenis.css);
@import url(animation.css);



* {
    cursor: none !important;
}

body {
    position: relative;
}
section {
    padding:  10rem 6rem ;
}

@media screen and (max-width: 1000px) {
    section{
        padding:  10rem 4rem;
    }
}

@media screen and (max-width: 600px) {
    section {
        padding:  5rem 2rem ;
    }
}
